@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    *,
    *::before,
    *::after {
        @apply box-border;
    }

    html {
        @apply scroll-smooth;
    }

    body {
        @apply overflow-x-hidden font-inter font-normal text-black text-base bg-offWhite;
    }
}

@layer utilities {
    .top-left-sharp-edge-rectangle {
        background-image: linear-gradient(135deg, #fafafa 40px, transparent 0px);
    }

    .top-right-sharp-edge-rectangle {
        background-image: linear-gradient(-135deg, #fafafa 40px, transparent 0px);
    }

    .bottom-right-sharp-edge-rectangle {
        background-image: linear-gradient(-45deg, #fafafa 40px, transparent 0px);
    }

    .angled-left-rectangle {
        clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    .header-navbar {
        clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
    }

    .hexagon-shape {
        clip-path: polygon(50% 0, 100% 20%, 100% 80%, 50% 100%, 0 80%, 0 20%);
    }

    .hexagon-grid-gradient {
        background-image: linear-gradient(-135deg, #f7ad33 -30%, transparent 30%);
    }

    .bottom-left-sharp-edge-rectangle {
        background-image: linear-gradient(45deg, #fafafa 40px, transparent 0px);
    }

    .app-container,
    .section-container {
        @apply w-full max-w-screen-xl mx-auto px-4 py-7 md:px-6 md:py-8 lg:px-8 lg:py-10 xl:py-14 2xl:py-16;
    }

    .btn-primary {
        @apply w-fit bg-primary text-black font-anton text-sm px-3 py-1 rounded mt-5 md:text-base xl:text-lg xl:px-4 xl:rounded-md xl:py-2 2xl:text-xl 2xl:rounded-lg;
    }

    .section-container {
        @apply flex flex-col gap-y-3 md:flex-row md:items-start;
    }

    .section-body {
        @apply font-inter text-xs leading-normal md:text-sm md:leading-relaxed xl:text-base 2xl:text-lg;
    }

    .section-heading {
        @apply font-anton text-xl md:text-[22px] lg:text-2xl xl:text-4xl 2xl:text-5xl;
    }

    .section-subheading {
        @apply font-anton font-normal leading-3 text-base md:text-lg xl:text-xl 2xl:text-2xl;
    }

    .outlined-card {
        @apply bg-white border border-[#000000] border-opacity-15 rounded p-4 lg:p-5 xl:rounded-md 2xl:rounded-lg 2xl:p-6;
    }

    .section-image-wrapper {
        @apply w-full flex justify-center md:w-1/2 md:items-start md:justify-start;
    }

    .section-image {
        @apply w-1/2 md:w-3/4;
    }

    .section-body-container {
        @apply w-full flex flex-col gap-y-3 md:w-1/2 md:gap-y-4 xl:gap-y-5 2xl:gap-y-6;
    }

    .main-title {
        @apply font-anton text-3xl tracking-[0.02rem] md:leading-[1.35] lg:text-5xl lg:leading-tight xl:text-7xl xl:leading-[1.15] xl:tracking-[0.120rem] 2xl:text-[80px];
    }

    .light-gray-rounded-card {
        @apply w-full flex items-center justify-between bg-[#F5F5F5] rounded p-2 md:p-3 2xl:p-4;
    }

    .light-gray-rounded-card-heading {
        @apply font-semibold text-[10px] leading-normal md:text-xs md:leading-relaxed xl:text-sm 2xl:text-base;
    }

    .light-gray-rounded-card-body {
        @apply text-[8px] leading-normal md:text-[10px] md:leading-relaxed xl:text-xs 2xl:text-sm;
    }

    .roadmap-dot {
        @apply w-4 h-4 rounded-full absolute z-[5] md:w-6 md:h-6 lg:w-7 lg:h-7 xl:w-8 xl:h-8;
    }
}
