@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    *,
    *::before,
    *::after {
        @apply box-border;
    }

    html {
        @apply scroll-smooth;
    }

    body {
        @apply overflow-x-hidden font-inter font-normal text-black text-base bg-offWhite;
    }
}

@layer utilities {
    .footer-top-left-sharp-edge-rectangle {
        background-image: linear-gradient(135deg, #fafafa 40px, transparent 0px);
    }

    .features-bottom-right-sharp-edge-rectangle {
        background-image: linear-gradient(-135deg, #fafafa 40px, transparent 0px);
    }

    .user-profile-picture {
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    }

    .header-launch-app-button {
        clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    .header-navbar {
        clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
    }
}
